score.sc
*_pose.pdb
*.rslog
*.sc
*_silent
tracer*
*.out
*.err


database/vall.jul19.2011.gz
scenarios/run_test.log
benchmark/score_weights/binder/binderbench_*
benchmark/score_weights/constraints/constraintbench_*
